:root {
  --color-brand: hsla(308, 48%, 17%, 1);
  --color-text: hsla(308, 24%, 80%, 1);
  --color-text-note: hsla(308, 24%, 80%, 0.9);
  --color-background-note: hwb(0 100% 0% / 0.1);
  --color-note-title: hsla(308, 51%, 95%, 0.9);

  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(0, 0%, 0%, 1);

  --gradient-background: linear-gradient(
    180deg,
    hsla(253, 60%, 5%, 1) 0%,
    hsla(287, 18%, 5%) 32%,
    hsla(307, 47%, 17%) 100%
  );

  --gradient-theme-btn: linear-gradient(
    180deg,
    hsla(309, 49%, 17%, 0.35) 0%,
    hsla(308, 11%, 45%, 0.21) 40.73%,
    hsla(0, 0%, 85%, 0) 100%
  );

  --color-border-medium: hsla(308, 16%, 62%, 0.5);
  --color-border-light: hsla(308, 16%, 62%, 0.35);
  --color-border-theme-btn: hsla(308, 24%, 80%, 0.75);

  --font-main: "Source Code Pro", monospace;
  --font-logo: "Zeyada", cursive;

  --shadow-note: 0px 10px 22px 0px rgba(0, 0, 0, 0.1),
    0px 40px 40px 0px rgba(0, 0, 0, 0.09), 0px 90px 54px 0px rgba(0, 0, 0, 0.05),
    0px 161px 64px 0px rgba(0, 0, 0, 0.01), 0px 251px 70px 0px rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.875em;
  /* font-size: calc(1vw - 0.1em); */
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  /* background: var(--gradient-background);
  background: linear-gradient(
    180deg,
    #090515 0%,
    rgba(15, 11, 16, 0.42) 14.64%,
    rgba(29, 15, 28, 0.4) 30.86%,
    rgba(64, 22, 58, 0.35) 100%
  ); */
  background-image: url("/gradient-min.png");
  background-size: contain;
  background-repeat: repeat;
}

@media screen and (max-width: 920px) {
  body {
    background-size: cover;
  }
}
